$hex_white: #fff;
$hex_black: #000;


$rgb_black: 0,0,0;

$hex_dark: #151b26;
$hex_light: #d5dce0;

$hex_pink: #ea4e9d;

$hex_teal: #25e8c8;
$hex_teal_light: #e2fffa;

$hex_grey: #848f99;
$hex_grey_light: #f6f8f9;
$hex_grey_dark: #edf1f2;

$hex_red: #fc636b;
$hex_red_light: #ff6d92;

$hex_yellow: #ffb900;


$border: 1px solid #b7bfc6;
$border_bottom: 1px solid #e0e6e8;

